.boxcart {
  position: absolute;
  width: 280%;
  background-color: #fff;
  height: 200px;
  right: -50px;
  top: 50px;
  z-index: 999;
  -webkit-box-shadow: 0px 6px 25px -12px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 6px 25px -12px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 6px 25px -12px rgba(0, 0, 0, 0.66);
}
.boxcart_title {
  height: 50px;
  border-bottom: 2px solid var(--light-grayish-blue);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 500;
  font-size: 14px;
}
.boxcart_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 14px;
  color: var(--dark-grayish-blue);
}
