.nav {
  width: 100%;
  position: relative;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 80px;
  height: 120px;
}

.navbar_logo_and_sections {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar_logo {
  cursor: pointer;
}
.navbar_ul_li {
  display: flex;
  list-style-type: none;
  gap: 35px;
  color: var(--dark-grayish-blue);
  li {
    cursor: pointer;
  }
}
.navbar_profile_and_cart {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: center;
}
.navbar_img_profile {
  width: 40px;
  cursor: pointer;
}
.navbar_img_cart {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.nav::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 40px;
  right: 40px;
  max-width: 1240px;
  height: 1px;
  background-color: var(--grayish-blue);
  margin: 0 auto;
}
/* .nav_line {
  max-width: 1240px;
  background-color: var(--grayish-blue);
  height: 1px;
  margin: 0 auto;
  margin-bottom: 80px;
}
 */
